%h2 Lifts Shared as a Passenger:


-if @requests.present? && @other_requests.present?
	- @user.requests.each do |request|	
		.box.panel.panel-default 
			%h4= link_to request.departure, request
			to
			%h4= link_to request.destination, request
			Posted by you
			%br/ 
			=link_to (request.driverid), user_path(request.driverid)
			gave you a lift on 
			=request.time.strftime("%dth %B, at  %H:%M")

	/driver offers a lift. User accepts.  where passengerID = @user.id from offers table.
	- @other_offers.each do |offer|	
		.box.panel.panel-default 
			= link_to offer.departure, offer
			to
			= link_to offer.destination, offer
			%br/
			=offer.time.strftime("%dth %B,  %H:%M")
			%br/
			Posted by:
			=link_to (offer.user.fname), user_path(offer.user_id) 
			=link_to (offer.user.lname), user_path(offer.user_id)
			%br/
			Accepted by 
			=link_to (offer.passengerid), user_path(offer.passengerid)


-else
	You have not gotten a lift yet