%h2 Current offers:

-if @user.offers.present?
	- @user.offers.where(:accepted => 'f').each do |offer|
		.box.panel.panel-default#liftsOffers
			%h4= link_to offer.departure, offer
			to
			%h4= link_to offer.destination, offer
			%br/
			=offer.time.strftime("%dth %B,  %H:%M")
			%br/
			Number of seats available:
			=offer.seats
			%br/
			Posted by you
-else
	you have not made any offers yet

:javascript
	$('#liftsOffers').click(function() {
		alert("hello"); 
	});

