%h2 Current offers:

-if @user.offers.present?
	- @user.offers.where(:accepted => 'f').each do |offer|
		.box.panel.panel-default 
			= link_to offer.departure, offer
			to
			= link_to offer.destination, offer
			%br/
			=offer.time.strftime("%dth %B,  %H:%M")
			%br/
			Number of seats available:
			=offer.seats
			%br/
			Posted by:
			=link_to (offer.user.fname), user_path(offer.user_id) 
			=link_to (offer.user.lname), user_path(offer.user_id)
-else
	you have not made any offers yet



