.container
	.userInfo
		.avatarProfile
			=image_tag @user.avatar.url.to_s
		%br/
		%h1=@user.fname
		%h1=@user.lname
		

=render 'offers'

=render 'requests'

=render 'liftsSharedAsDriver'

=render 'liftsSharedAsPassenger'


	