%h3= link_to "Offer this person a lift", 
          request_path(@request, 
                    :request => { :driverid => current_user.id, :accepted => 't'}),
          :method => :put, 
          :confirm => "Are you sure?"
          