
-if @request.driverid.blank? && user_signed_in?	&& current_user != @request.user 
	=render 'offer'
-elsif current_user == @request.driverid
	=render 'acceptedByUser'
-elsif @request.driverid.blank? && current_user == @request.user  	

-else	
	=render 'accepted'	
%br/

=render 'route' 

.container
	%h3#depart=@request.departure 
	to
	%h3#arrive=@request.destination
	%br/
	=@request.time.strftime("%dth %B,  %H:%M")
	%br/
	=@request.desc
	%br/
	Submitted by 
	=link_to "#{@request.user.fname} #{@request.user.lname}", user_path(@request.user_id)
	%br/
	- if @request.driverid
		Accepted by 
		=link_to (@request.driverid), user_path(@request.driverid)
	%br/
	
	=@request.user.gender
	%br/

=link_to "Home", root_path 
=if current_user.id == @request.user_id
	=link_to "Edit", edit_request_path
	=link_to "Delete", request_path, method: :delete, data:{confirm: "Are you sure?"}


:javascript
	$( document ).ready(function() {
		var daddress = ($( "h3#depart" ).html());
		var res = daddress.split(",");
		$("#depart").html(res[0] + ", " + res[1]);

		var aaddress = ($( "h3#arrive" ).html());
		var res = aaddress.split(",");
		$("#arrive").html(res[0] + ", " + res[1]);
	});





