%script{:src => "https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&libraries=places"}

#map-canvas 

:javascript
  
  var service;
  var centerlatlng
  
  function initMap() {
    
    mapOptions = {
        zoom: 7,
    }
    var geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)


    // Instantiate a directions service.
    directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
        map: map
    })
    
    // get route from A to B
    // calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
    geocodeAddress(geocoder, map, directionsService, directionsDisplay);
  }

  //get lat long
  var test1;
  var test2;
  function geocodeAddress(geocoder, resultsMap, directionsService, directionsDisplay) {

    var depart = gon.offer.departure
    geocoder.geocode({'address': depart}, function(results, status) { 
      if (status === 'OK') {
        test1 = results[0].geometry.location
        var markerA = new google.maps.Marker({
          title: "point A",
          label: "A",
          map: resultsMap,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }

    });

    var dest = gon.offer.destination
    geocoder.geocode({'address': dest}, function(results, status) {
      if (status === 'OK') {
        test2 = results[0].geometry.location
        var markerB = new google.maps.Marker({
          title: "point B",
          label: "B",
          map: resultsMap,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }

      calculateAndDisplayRoute(directionsService, directionsDisplay, test1, test2);
    });

  }



  function calculateAndDisplayRoute(directionsService, directionsDisplay, test) {
      directionsService.route({
          origin: test1,
          destination: test2,
          avoidTolls: true,
          avoidHighways: false,
          travelMode: google.maps.TravelMode.DRIVING
      }, function (response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
          } else {
              window.alert('Directions request failed due to ' + status);
          }
      });
  }

  initMap();


      

 


