// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatarProfile{
	display: inline-block;
	
	img{
		height: 200px;
		border-radius: 25%;
	}
}

.avatar{
	display: inline-block;
	
	img{
		height: 100px;
		border-radius: 25%;
	}
}

.userInfo{
	display: flex;
}

h1{
	margin-top: 100px;
}